@import 'variables'

.posts-content
  max-width: 77ch

.post
  margin-bottom: 4rem
  a
    color: darken($primary-color, 15%)

  h2
    margin: 2rem 0 0
  p.date
    font-size: 0.8rem
    margin: 0.5rem 0 1rem
  