@import 'variables'

.whatsapp
  font-size: inherit
  font-family: inherit
  line-height: inherit
  font-style: italic
  appearance: none
  border: none
  padding: 0
  margin: 0
  display: inline
  text-decoration: underline
  color: $terciary-color
  background: transparent
  cursor: pointer

svg
  fill: $terciary-color
  