html
  font-size: 16px
  
body
  background: $light-gray
  font-family: $body-font
  color: $dark-color

.body-font
  font-family: $body-font
  
  @media screen and (max-width: 505px)
    padding-bottom: $mobile-menu-height

h1, h2, h3, h4, h5, h6
  font-weight: 600
  line-height: 1
  font-family: $header-font

h1
  font-size: 2.4rem
  margin: 1rem 0

  @media screen and (max-width: 500px)
    font-size: 2rem

  @media screen and (max-width: 361px)
    font-size: 1.6rem

h2
  font-size: 2.2rem
  margin: 2rem 0

  &.regular
    font-size: 1.8rem
    margin: 0.5rem 0

  @media screen and (max-width: 500px)
    font-size: 1.6rem

  @media screen and (max-width: 361px)
    font-size: 1.4rem

h3
  font-size: 1.6rem
  margin: 0.5rem 0

h4
  font-size: 1.2rem
  line-height: 1.1
  margin: 0.4rem 0

p
  margin: 1rem 0
  line-height: 1.6

a
  color: lighten($primary-color, 10%)
  text-decoration: none
  
ul, ol
  li
    padding: 0.5rem 0
    list-style: outside
    margin-left: 1rem

  &.short-list
    columns: 2

    @media screen and (max-width: 360px)
      columns: 1

hr
  color: $light-gray
  margin: 1.5rem 0

.centered
  text-align: center
  margin: 1rem auto
  max-width: 940px

.reg-ch
  max-width: 60ch

.max-ch
  max-width: 70ch

.centered-container
  max-width: 730px
  width: 100%
  margin: 0 auto

.regular
  font-weight: 400

.tall-line
  line-height: 1.2

.space-between
  margin: 3rem 0

  @media screen and (max-width: 500px)
    margin: 2rem 0

.space-below
  margin-bottom: 5rem

.bottom-spacing
  margin-bottom: 3rem

.content-container
  display: grid
  grid-template-columns: max-content minmax(auto, 70ch)
  grid-gap: 40px
  
  @media screen and (max-width: 900px)
    grid-template-columns: initial

  @media screen and (max-width: 320px)
    grid-gap: 20px

.main-content
  @extend %outer-container
  border-top: 1rem solid $primary-color
  background-color: $light-gray
  box-shadow: 0 4px 12px rgba(4, 4, 4, 0.15%)
  border-radius: 8px
  margin-top: $displacement
  z-index: 2
  display: flex
  flex-flow: row wrap

  @media screen and (max-width: 1200px)
    border-radius: 0

  .inner-main-content
    max-width: 630px
    width: 100%

  .sidebar
    max-width: 255px
    width: 100%

    @media screen and (max-width: 900px)
      max-width: none

.full-width-content
  width: 100%

.primary-button
  display: inline-flex
  flex-flow: row nowrap
  align-items: center
  color: white
  background-color: darken($primary-color, 5)
  transition: all 0.25s ease-in-out
  border-radius: 2rem
  padding: 1rem 2rem

  &:hover
    background-color: darken($primary-color, 10%)

  img
    height: 1rem
    margin-right: 1rem

.image-float-left
  max-width: 300px
  width: 100%
  float: left
  margin-right: 1rem

  @media screen and (max-width: 505px)
    float: none
    margin: 1rem 0

.small-shadow
  box-shadow: $box-shadow

.small-border
  border-radius: 1rem
  
.rounded-circle
  height: 220px
  width: 220px
  border-radius: 100%
  border: 0.5rem solid $white
  shape-outside: circle()
  shape-margin: 0.5rem