html
  font-size: 16px

  @media screen and (max-width: 375px)
    font-size: 14px
  
body
  background: $light-gray
  font-family: 'Raleway'
  color: $dark-color
  
  @media screen and (max-width: 505px)
    padding-bottom: $mobile-menu-height

h1, h2, h3, h4, h5, h6
  font-weight: 600
  line-height: 1.2

h1
  font-size: 3rem
  margin: 1rem 0

h2
  font-size: 2.3rem
  margin: 1rem 0

h3
  font-size: 1.8rem
  margin: 1rem 0

h4
  font-size: 1.5rem
  line-height: 1.1
  margin: 0.4rem 0

p
  padding: 1rem 0
  line-height: 1.5

.centered
  text-align: center
  margin: 1rem auto

.max-ch
  max-width: 60ch

.regular
  font-weight: 400

.tall-line
  line-height: 1.4

.space-between
  margin: 3rem 0

  @media screen and (max-width: 500px)
    margin: 2rem 0

.space-below
  margin-bottom: 3rem

a
  text-decoration: none

.main-content
  padding: 3rem 4rem
  max-width: 1200px
  margin: 0 auto
  background-color: $light-gray
  box-shadow: 0 6px 12px rgba(4, 4, 4, 0.25%)
  border-radius: 8px
  margin-top: $displacement
  z-index: 2

  @media screen and (max-width: 1200px)
    padding: 3rem
    border-radius: 0

  @media screen and (max-width: 505px)
    margin-top: 0

.header-image
  height: 10rem
  background:
    image: url('../assets/moitorrijos-panama-header-bg.jpg')
    repeat: no-repeat
    size: cover
    position: bottom center

.primary-button
  display: inline-block
  padding: 1rem 2.5rem
  font-weight: 500
  letter-spacing: 1px
  font-size: 0.9rem
  background-color: $primary-color
  color: white
  border-radius: 14px
  box-shadow: $box-shadow
  transition: all 0.25s ease-in-out

  &:hover
    background-color: darken($primary-color, 10%)

  img
    height: 1rem
    margin-right: 0.75rem
