html
  font-size: 16px
  
body
  background: $light-gray
  font-family: 'Raleway'
  color: $dark-color
  
  @media screen and (max-width: 505px)
    padding-bottom: $mobile-menu-height

h1, h2, h3, h4, h5, h6
  font-weight: 600
  line-height: 1

h1
  font-size: 2.2rem
  margin: 0.5rem 0

  @media screen and (max-width: 500px)
    font-size: 1.8rem

  @media screen and (max-width: 361px)
    font-size: 1.6rem

h2
  font-size: 1.8rem
  margin: 0.5rem 0

  @media screen and (max-width: 500px)
    font-size: 1.6rem

  @media screen and (max-width: 361px)
    font-size: 1.4rem

h3
  font-size: 1.4rem
  margin: 0.5rem 0

h4
  font-size: 1.2rem
  line-height: 1.1
  margin: 0.4rem 0

p
  margin: 1rem 0
  line-height: 1.6

a
  color: lighten($primary-color, 10%)
  text-decoration: none
  
ul, ol
  li
    padding: 0.5rem 0

.centered
  text-align: center
  margin: 1rem auto
  max-width: 940px

.reg-ch
  max-width: 60ch

.max-ch
  max-width: 70ch

.centered-container
  max-width: 730px
  width: 100%
  margin: 0 auto
  
.regular
  font-weight: 400

.tall-line
  line-height: 1.2

.space-between
  margin: 3rem 0

  @media screen and (max-width: 500px)
    margin: 2rem 0

.space-below
  margin-bottom: 5rem

.bottom-spacing
  margin-bottom: 3rem

.content-container
  display: grid
  grid-template-columns: max-content minmax(auto, 70ch)
  @media screen and (max-width: 900px)
    grid-template-columns: initial
  grid-gap: 60px

.main-content
  @extend %outer-container
  border-top: 1rem solid $primary-color
  background-color: $light-gray
  box-shadow: 0 4px 12px rgba(4, 4, 4, 0.15%)
  border-radius: 8px
  margin-top: $displacement
  z-index: 2
  display: flex
  flex-flow: row wrap

  @media screen and (max-width: 1200px)
    border-radius: 0

  .inner-main-content
    max-width: 630px
    width: 100%

  .sidebar
    max-width: 255px
    width: 100%

    @media screen and (max-width: 900px)
      max-width: none

.full-width-content
  width: 100%

.header-image
  height: 18rem
  background:
    image: url('../assets/moitorrijos-panama-header-bg.jpg')
    repeat: no-repeat
    size: cover
    position: center top

  @media screen and (max-width: 505px)
    height: 6rem
    background-position: right -30px

.primary-button
  display: inline-block
  padding: 1rem 2.5rem
  font-weight: 500
  letter-spacing: 1px
  font-size: 0.9rem
  background-color: $primary-color
  color: white
  border-radius: 14px
  box-shadow: $box-shadow
  transition: all 0.25s ease-in-out

  &:hover
    background-color: darken($primary-color, 10%)

  img
    height: 1rem
    margin-right: 0.75rem

ul.about-menu
  position: sticky
  top: 4rem
  font-size: 0.8rem

  li 
    display: inline-block
    a
      display: flex
      flex-flow: row nowrap
      align-items: center
      padding: 0.75rem 0
      color: $dark-color
      transition: all 0.25s ease-in-out
      border-radius: 2rem
      padding: 4px
      padding-right: 20px

      &.current-menu-page
        background: lighten($footer-color, 10%)
        color: $white

      img, svg
        margin-right: 10px
        width: 45px
        height: 45px

        @media screen and (max-width: 900px)
          width: 35px  
          height: 35px

    &:hover a
      transform: translateX(5px)

  @media screen and (max-width: 900px)
    font-size: 0.7rem
    display: flex
    flex-flow: row wrap
    justify-content: space-between
