@import 'variables'
  
.header-image
  height: 12rem
  background:
    image: $linear-gradient
    repeat: no-repeat
    size: cover
    position: center top

  @media screen and (max-width: 1200px)
    height: 9rem

  @media screen and (max-width: 505px)
    height: 1.5rem