@import 'variables'
  
.main-hero
  background-color: darken($primary-color, 10%)
  background-image: $linear-gradient
  color: $white
  padding: 2rem 2rem 0
  height: 90vh
  max-height: 585px
  display: flex
  align-items: flex-end
  z-index: 1

  @media screen and ( max-width: 1015px )
    max-height: none
    height: 75vh

  @media screen and ( max-width: 507px )
    height: auto
    align-items: center

.hero-text-image
  max-width: 980px
  width: 100%
  margin: 0 auto
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: center
  transform: translateY($displacement)

  @media screen and ( max-width: 505px )
    transform: translateY(0)

  @media screen and ( max-width: 507px)
    height: 100%
    flex-flow: column
    justify-content: space-between
    transform: translateY(0)

.hero-text
  text-align: center
  max-width: 500px
  padding: 1rem 0
  @media screen and ( max-width: 505px )
    width: 100%

  h1, h2
    font-family: $body-font
    margin: 0
  
  h1
    font-size: 3rem
    letter-spacing: 1.5px
    margin: 0
    font-weight: 600

    @media screen and ( max-width: 505px )
      font-size: 2rem

  h2
    font-size: 1.8rem
    font-weight: 400
    letter-spacing: 1px

    @media screen and ( max-width: 505px )
      font-size: 1.3rem

    @media screen and (max-width: 361px)
      font-size: 1.2rem

.hero-image
  align-self: flex-end
  transform: translateY(4px)
  width: 47%

  @media screen and (max-width: 900px)
    width: 60%

  @media screen and (max-width: 550px)
    width: 100%

  img
    transform: translateX(16px)
