@import 'variables'
  
.main-hero
  background-color: darken($primary-color, 10%)
  background-image: $linear-gradient
  color: $white
  z-index: 1

.hero-text-image
  max-width: 1200px
  width: 100%
  margin: 0 auto
  pointer-events: none
  transform: translateY($displacement)
  position: relative
  display: grid
  grid-template-columns: 1fr 1fr
  column-gap: 60px
  align-items: center
  padding: 6rem 2rem 0

  @media screen and (max-width: 720px)
    padding-top: 8rem
    grid-template-columns: 1fr

  @media screen and (max-width: 507px)
    padding-top: 2rem
    transform: translateY(0)

  @media screen and (max-width: 321px)
    padding: 2rem 1rem 0

.hero-text
  text-align: center

  h1, h2
    font-family: $body-font
    margin: 0
  
  h1
    font-size: 3rem
    letter-spacing: 1.5px
    margin: 0
    font-weight: 600

    @media screen and ( max-width: 980px )
      font-size: 2.4rem

    @media screen and (max-width: 715px)
      font-size: 1.8rem

    @media screen and (max-width: 321px)
      font-size: 1.6rem

  h2
    font-size: 1.8rem
    font-weight: 400
    letter-spacing: 1px

    @media screen and ( max-width: 980px )
      font-size: 1.3rem

    @media screen and (max-width: 715px)
      font-size: 1.2rem

    @media screen and (max-width: 321px)
      font-size: 1rem
