$primary-color: #1B33B3
$secondary-color: #D00000
$dark-color: #3E5380
$gray: #8D8D8D
$white: #f9f9f9
$light-gray: #f8feff
$footer-color: #5C72A5
$linear-gradient: linear-gradient(45deg, lighten($secondary-color, 15%) 0%, $primary-color 70%)
$body-font: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
$header-font: "Bebas Neue", "Trebuchet MS", Arial, sans-serif

$max-container-width: 1200px

$displacement: -40px
$mobile-menu-height: 80px

$box-shadow: 0 6px 9px rgba(0, 0, 0, 0.15)